/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color: rgb(50, 159, 223);
}
.grey.lighten-2 {
  background-color: #e0e0e0 !important;
  margin-top: 71px;
}

.tabs .tab a.active {
  background-color: #673ab7 !important;
}
